<div>Detalhes Funcionário</div>

<div>
  <form>
    <div class="input-box">
      <label>Nome:</label>
      <input type="text" value="{{funcionario?.nome}}" disabled>
    </div>
    <div class="input-box">
      <label>Sobrenome:</label>
      <input type="text" value="{{funcionario?.sobrenome}}" disabled>
    </div>
    <div class="input-box">
      <label>Departamento:</label>
      <input type="text" value="{{funcionario?.departamento}}" disabled>
    </div>
    <div class="input-box">
      <label>Situação:</label>
      <input type="text" value="{{funcionario?.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>
    </div>
    <div class="input-box">
      <label>Data de Criação:</label>
      <input type="text" value="{{funcionario?.dataDeCriacao}}" disabled>
    </div>
    <div class="input-box">
      <label>Data de Alteração:</label>
      <input type="text" value="{{funcionario?.dataDeAlteracao}}" disabled>
    </div>
    <div class="btn-box">
      <button (click)="InativaFuncionario()">Inativar Usuário</button>
      <button routerLink="">Voltar</button>
    </div>
  </form>
</div>
